# Ignore vendor directory
/vendor/

# Ignore Composer lock file
composer.lock

# Ignore environment-specific files
.env

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs and cache files
/log/
/cache/

# Ignore build artifacts
/build/

# Ignore dependency management files
composer.phar